# dependencies
node_modules

# build
dist
.svelte-kit
.output
.turbo
.vite
.cache
coverage
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs
*.log

# os
.DS_Store
Thumbs.db

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
